/* Root, Main, Most Effects, Important Selector Sections */
body {
  margin: 20px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  background-color: #eaeef6;
}
/* - */

/* Often uses class selector */
.weight-500{
  font-weight: 500
}
.weight-700{
  font-weight: 700
}
/*  */

/* Font Initialize Sections */
@font-face {
  font-family: 'Reddit';
  src: url('../fonts/RedditSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courget';
  src: url('../fonts/Courgette-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KanitLight';
  src: url('../fonts/Kanit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.handWrite{
  font-family: 'Lobster', kanit;
}

.engFont{
  font-family: 'Reddit';
}

.engFont2{
  font-family: 'Courget';
}

.thaiFont{
  font-family: 'KanitLight';
}
/* - */

/* Navbar Sections */
.nav-main {
  display: block;
  height: fit-content;
  border: 0.7px white;
  box-shadow: 10px 9px 10px lightblue;
}

.nav-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff;
}

.nav-main li a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-decoration: none;
  color: rgb(78, 72, 72);
}

.nav-main li .nav-icon {
  padding-left: 60px;
  font-size: 30px;
}

.nav-main li .nav-left {
  float: left !important;
}

.nav-main li .nav-right {
  float: right !important;
}

.nav-main li a span {
  font-size: 30px;
  padding-right: 4px;
  display: block;
}
/* - */

/*  */
.image-viewing {
  position: relative; /* Set relative position */
  display: block;
  overflow: hidden;
  height: 80vh;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.image-viewing img {
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden ;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 20px;
  color: white;
  width: 10vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: black;
  opacity: 0.9;
}

.centered p{
  text-align: center;
}

.mini-image {
  width: 100%;
}
/*  */

/*  */
.seemore-section{
  margin-top: 20px;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.seemore-section {
  font-size: 20px;
  font-weight: 700;
  border: solid white 0; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  padding-bottom: 2px; 
   
}

.seemore-section p::after{
  content: "Scroll down to view more";
  animation: seemore-blink 5s linear infinite;
}

@keyframes seemore-blink {
  35%{
    content: "Please use Full screen";
  }
  75%{
    content: "This website doesn't have responsive";
  }

}
/*  */

/*  */
.stats .boxes{
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stats .boxes .box{
  margin: 20px 0;
  width: calc(100% / 4 - 30px);
  text-align: center;
  border-radius: 12px;
  padding: 10px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.stats .box .material{
  font-size: 90px; 
}
.stats .boxes .box:hover{
  background: #050505c4;
  color: #ffffff;
}
/*  */

/*  */
.content{
  font-weight: 500;
  margin: 15px 50px; 
  background-color: rgba(0, 0, 0, 0.040);
}

.content .card{
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.content .card .card-head{
  background-color: orange;
  width: 10px;
}

.content .card h2{
  margin-left: 2%;
}

.content .card-flex{
  display: flex;
  flex-direction: row;
}

.content .card-flex .card-image{
  width: 70vw;
  padding: 40px;
  display: flex;
  justify-content: right;
}

.content .card-flex .card-image div {
  width: 100%;
  height: auto;
  content: url(../../src/card_album/20240716_140251.jpg);
  animation: image-card 15s linear infinite;
}

@keyframes image-card {
  25%{
    content: url(../../src/card_album/20240716_140325.jpg);
  }
  50%{
    content: url(../../src/card_album/20240716_140343.jpg);
  }
  75%{
    content: url(../../src/card_album/20240716_140428.jpg);
  }
}

.content .card-flex .card-text{
  padding: 30px 50px;
  width: 70vw;
  justify-content: left;
}

.content p{
  text-indent: 10%; 
  white-space: normal;
  text-align:justify;
}
/*  */

/*  */
.footer-card{
  margin-top: 3%;
  padding-top: 10px;
  color: #ffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.793);
  border-bottom: solid rgb(255, 174, 0) 10px;
}
.footer-card .footer-box{
  display: block;
  height: 70px;
  padding: 10px 50px;
  align-items: center;
  justify-content: center;
}

.footer-card .footer-box .footer-left{
  float: left !important;
}

.footer-card .footer-box .footer-right{
  float: right !important;
}

.footer-box ul{
  list-style: none;
}

.footer-box ul li a{
  padding-right: 20px;
  color: #ffffff6c;
  font-size: 20px;
  text-decoration: none;
}

.footer-box ul li i{
  font-size: 30px;
}